<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.command.api.data.dao.AccountMapper">
	<resultMap id="BaseResultMap" type="app.command.api.data.entity.AccountPo">
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="password" jdbcType="VARCHAR" property="password" />
		<result column="username" jdbcType="VARCHAR" property="username" />
	</resultMap>
	<sql id="Base_Column_List">
		id, password, username
	</sql>
	<select id="findAll" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from account
	</select>
	<select id="getById" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from account where id = #{id, jdbcType=VARCHAR}
	</select>
	<insert id="save" parameterType="app.command.api.data.entity.AccountPo">
		insert into account (<include refid="Base_Column_List" />) 
		values (#{id, jdbcType=VARCHAR}, #{password, jdbcType=VARCHAR}, #{username, jdbcType=VARCHAR})
	</insert>
	<update id="updateById" parameterType="app.command.api.data.entity.AccountPo">
		update account
			<set>
				<if test="password != null">
					password = #{password, jdbcType=VARCHAR}, 
				</if>
				<if test="username != null">
					username = #{username, jdbcType=VARCHAR}, 
				</if>

			</set> 
		where id = #{id, jdbcType=VARCHAR}
	</update>
	<delete id="deleteById">
		delete from account where id = #{id, jdbcType=VARCHAR}
	</delete>
	<select id="pagination" parameterType="app.command.api.data.Pagination" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from account 
		order by id desc 
		limit #{offset, jdbcType=BIGINT} ,#{limit,jdbcType=INTEGER}
	</select>
	<select id="countAll" resultType="java.lang.Long">
		select count(*) from account
	</select>
</mapper>