<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.command.api.data.OrderItemMapper">
	<resultMap id="BaseResultMap" type="app.command.api.data.OrderItemPo">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="variant_id" jdbcType="BIGINT" property="variantId" />
		<result column="quantity" jdbcType="INT" property="quantity" />
		<result column="price" jdbcType="DECIMAL" property="price" />
		<result column="order_id" jdbcType="BIGINT" property="orderId" />
	</resultMap>
	<sql id="Base_Column_List">
		idvariant_id, quantity, price, , order_id
	</sql>
	<select id="findAll" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from order_item
	</select>
	<select id="getById" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from order_item where id = #{id, jdbcType=BIGINT}
	</select>
	<insert id="save" parameterType="app.command.api.data.OrderItemPo">
		insert into order_item (<include refid="Base_Column_List" />, <include refid="Blob_Column_List" />) 
		values (#{variantId, jdbcType=BIGINT}, #{quantity, jdbcType=INT}, #{price, jdbcType=DECIMAL}, #{id, jdbcType=BIGINT}, #{orderId, jdbcType=BIGINT})
	</insert>
	<update id="updateById" parameterType="app.command.api.data.OrderItemPo">
		update order_item
			<set>
				<if test="variantId != null">
					variant_id = #{variantId, jdbcType=BIGINT}, 
				</if>
				<if test="quantity != null">
					quantity = #{quantity, jdbcType=INT}, 
				</if>
				<if test="price != null">
					price = #{price, jdbcType=DECIMAL}, 
				</if>
				<if test="id != null">
					id = #{id, jdbcType=BIGINT}, 
				</if>
				<if test="orderId != null">
					order_id = #{orderId, jdbcType=BIGINT}, 
				</if>

			</set> 
		where id = #{id, jdbcType=BIGINT}
	</update>
	<delete id="deleteById">
		delete from order_item where id = #{id, jdbcType=BIGINT}
	</delete>
	<select id="pagination" parameterType="app.command.api.data.Pagination" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from order_item 
		order by id desc 
		limit #{offset, jdbcType=BIGINT} ,#{limit,jdbcType=INTEGER}
	</select>
	<select id="countAll" resultType="java.lang.Long">
		select count(*) from order_item
	</select>
</mapper>