<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.command.api.data.TblAccountMapper">
	<resultMap id="BaseResultMap" type="app.command.api.data.TblAccountPo">
		<id column="id" jdbcType="INT" property="id" />
		<result column="password" jdbcType="VARCHAR" property="password" />
		<result column="role" jdbcType="VARCHAR" property="role" />
		<result column="username" jdbcType="VARCHAR" property="username" />
	</resultMap>
	<sql id="Base_Column_List">
		id, password, role, username
	</sql>
	<select id="findAll" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from tbl_account
	</select>
	<select id="getById" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from tbl_account where id = #{id, jdbcType=INT}
	</select>
	<insert id="save" parameterType="app.command.api.data.TblAccountPo">
		insert into tbl_account (<include refid="Base_Column_List" />, <include refid="Blob_Column_List" />) 
		values (#{password, jdbcType=VARCHAR}, #{role, jdbcType=VARCHAR}, #{id, jdbcType=INT}, #{username, jdbcType=VARCHAR})
	</insert>
	<update id="updateById" parameterType="app.command.api.data.TblAccountPo">
		update tbl_account
			<set>
				<if test="password != null">
					password = #{password, jdbcType=VARCHAR}, 
				</if>
				<if test="role != null">
					role = #{role, jdbcType=VARCHAR}, 
				</if>
				<if test="id != null">
					id = #{id, jdbcType=INT}, 
				</if>
				<if test="username != null">
					username = #{username, jdbcType=VARCHAR}, 
				</if>

			</set> 
		where id = #{id, jdbcType=INT}
	</update>
	<delete id="deleteById">
		delete from tbl_account where id = #{id, jdbcType=INT}
	</delete>
	<select id="pagination" parameterType="app.command.api.data.Pagination" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from tbl_account 
		order by id desc 
		limit #{offset, jdbcType=BIGINT} ,#{limit,jdbcType=INTEGER}
	</select>
	<select id="countAll" resultType="java.lang.Long">
		select count(*) from tbl_account
	</select>
</mapper>