<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.command.api.data.VariantMapper">
	<resultMap id="BaseResultMap" type="app.command.api.data.VariantPo">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="image" jdbcType="VARCHAR" property="image" />
		<result column="quantity" jdbcType="INT" property="quantity" />
		<result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
		<result column="color" jdbcType="VARCHAR" property="color" />
		<result column="size" jdbcType="VARCHAR" property="size" />
		<result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
		<result column="price" jdbcType="DECIMAL" property="price" />
		<result column="product_id" jdbcType="BIGINT" property="productId" />
		<result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
		<result column="variant_name" jdbcType="VARCHAR" property="variantName" />
	</resultMap>
	<sql id="Base_Column_List">
		idimage, quantity, is_deleted, color, size, updated_at, price, product_id, created_at, variant_name, 
	</sql>
	<select id="findAll" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from variant
	</select>
	<select id="getById" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from variant where id = #{id, jdbcType=BIGINT}
	</select>
	<insert id="save" parameterType="app.command.api.data.VariantPo">
		insert into variant (<include refid="Base_Column_List" />, <include refid="Blob_Column_List" />) 
		values (#{image, jdbcType=VARCHAR}, #{quantity, jdbcType=INT}, #{isDeleted, jdbcType=TINYINT}, #{color, jdbcType=VARCHAR}, #{size, jdbcType=VARCHAR}, #{updatedAt, jdbcType=TIMESTAMP}, #{price, jdbcType=DECIMAL}, #{productId, jdbcType=BIGINT}, #{createdAt, jdbcType=TIMESTAMP}, #{variantName, jdbcType=VARCHAR}, #{id, jdbcType=BIGINT})
	</insert>
	<update id="updateById" parameterType="app.command.api.data.VariantPo">
		update variant
			<set>
				<if test="image != null">
					image = #{image, jdbcType=VARCHAR}, 
				</if>
				<if test="quantity != null">
					quantity = #{quantity, jdbcType=INT}, 
				</if>
				<if test="isDeleted != null">
					is_deleted = #{isDeleted, jdbcType=TINYINT}, 
				</if>
				<if test="color != null">
					color = #{color, jdbcType=VARCHAR}, 
				</if>
				<if test="size != null">
					size = #{size, jdbcType=VARCHAR}, 
				</if>
				<if test="updatedAt != null">
					updated_at = #{updatedAt, jdbcType=TIMESTAMP}, 
				</if>
				<if test="price != null">
					price = #{price, jdbcType=DECIMAL}, 
				</if>
				<if test="productId != null">
					product_id = #{productId, jdbcType=BIGINT}, 
				</if>
				<if test="createdAt != null">
					created_at = #{createdAt, jdbcType=TIMESTAMP}, 
				</if>
				<if test="variantName != null">
					variant_name = #{variantName, jdbcType=VARCHAR}, 
				</if>
				<if test="id != null">
					id = #{id, jdbcType=BIGINT}, 
				</if>

			</set> 
		where id = #{id, jdbcType=BIGINT}
	</update>
	<delete id="deleteById">
		delete from variant where id = #{id, jdbcType=BIGINT}
	</delete>
	<select id="pagination" parameterType="app.command.api.data.Pagination" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from variant 
		order by id desc 
		limit #{offset, jdbcType=BIGINT} ,#{limit,jdbcType=INTEGER}
	</select>
	<select id="countAll" resultType="java.lang.Long">
		select count(*) from variant
	</select>
</mapper>