<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC
        "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- Global mapper enable or disable caching. -->
        <setting name="cacheEnabled" value="true" />
        <!-- Globally enable or disable deferred loading -->
        <setting name="lazyLoadingEnabled" value="true" />
        <!-- Allow or disallow multiple result sets to be returned from a single
            statement -->
        <setting name="multipleResultSetsEnabled" value="true" />
        <!-- Use column labels instead of column names -->
        <setting name="useColumnLabel" value="true" />
        <!-- Allow JDBC to support generated keys -->
        <setting name="useGeneratedKeys" value="false" />
        <!-- Configure the default actuator -->
        <setting name="defaultExecutorType" value="SIMPLE" />
        <!-- Set timeout -->
        <setting name="defaultStatementTimeout" value="60" />
        <!-- Setting hump logo -->
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>
<!--    <typeAliases>-->
<!--        <package name="app.command.api.data.entity"/>-->
<!--    </typeAliases>-->
<!--    <mappers>-->
<!--        <package name="mybatis/mapper"></package>-->
<!--    </mappers>-->
</configuration>